<body style="background-image: none; background-size: cover; color: white; font-family: 'Times New Roman', Times, serif"> 
<!-- > -->
<div class="col-mid-12">
    <img class="center-fit" src="images/sushi.png" style="opacity: 0.8; object-fit: cover; height: 100%; width:100%; overflow: hidden">
    <h1 style= "position: absolute; top: 21%; left: 29%; font-size:2000%; text-align: center; color:white; font-weight: bold; text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">Yeat</h1>
    <a href="/loginForm" type="button" class="btn btn-primary" role="button" style="position: absolute; top: 70%; left: 33%; font-size:40px; width: 40%; border-color:white; background-color: #02a6ff; text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">Log In</a>
    <button type="button" class="btn btn-primary" style="position: absolute; top: 83%; left: 33%; font-size:40px; width: 40%; border-color:white; background-color: #02a6ff; text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">Create an Account</button>

</div>